<a href="https://colab.research.google.com/github/TYamashita-22016/M_Math/blob/main/c6_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from numpy.ma.core import cumsum
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set()
%matplotlib inline
%precision 3

import requests, zipfile
from io import StringIO
import io

from sklearn import linear_model

In [2]:
hier_df=DataFrame(
    np.arange(9).reshape((3,3)),
    index = [
             ['a','a','b'],
             [1,2,2]
    ],
    columns=[
             ['Osaka','Tokyo','Osaka'],
             ['Blue','Red','Blue']
    ]
)
hier_df

    Osaka Tokyo Osaka
     Blue   Red  Blue
a 1     0     1     2
  2     3     4     5
b 2     6     7     8

In [3]:
hier_df.index.names=['key1', 'key2']
hier_df.columns.names=['city', 'color']
hier_df

city      Osaka Tokyo Osaka
color      Blue   Red  Blue
key1 key2
a    1        0     1     2
     2        3     4     5
b    2        6     7     8

In [4]:
hier_df['Osaka']

color      Blue  Blue
key1 key2
a    1        0     2
     2        3     5
b    2        6     8

In [11]:
#hier_df.sum(level='key2', axis=0)
hier_df.groupby('key2').sum()

city  Osaka Tokyo Osaka
color  Blue   Red  Blue
key2
1         0     1     2
2         9    11    13

In [13]:
hier_df.groupby('color', axis=1).sum()

color      Blue  Red
key1 key2
a    1        2    1
     2        8    4
b    2       14    7

In [14]:
hier_df.drop(['b'])

city      Osaka Tokyo Osaka
color      Blue   Red  Blue
key1 key2
a    1        0     1     2
     2        3     4     5