<a href="https://colab.research.google.com/github/TYamashita-22016/M_Math/blob/main/c6_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from numpy.ma.core import cumsum
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set()
%matplotlib inline
%precision 3

import requests, zipfile
from io import StringIO
import io

from sklearn import linear_model

In [4]:
# データの準備
import numpy as np
from numpy import nan as NA
import pandas as pd


df = pd.DataFrame(np.random.rand(10, 4))

# NAにする
df.iloc[1,0] = NA
df.iloc[2:3,2] = NA
df.iloc[5:,3] = NA
df

          0         1         2         3
0  0.502138  0.288172  0.280506  0.512792
1       NaN  0.612598  0.920154  0.841198
2  0.125515  0.971372       NaN  0.823286
3  0.301453  0.733912  0.363838  0.743212
4  0.063964  0.960993  0.556070  0.357374
5  0.188373  0.840029  0.876780       NaN
6  0.737655  0.570952  0.009729       NaN
7  0.944626  0.673035  0.703516       NaN
8  0.240635  0.945015  0.491892       NaN
9  0.071472  0.455147  0.542198       NaN

In [3]:
df.dropna()

          0         1         2         3
0  0.234290  0.009247  0.593352  0.725248
3  0.220017  0.088644  0.364208  0.878005
4  0.074608  0.757259  0.505347  0.447051

In [5]:
df[[0,1]].dropna()

          0         1
0  0.502138  0.288172
2  0.125515  0.971372
3  0.301453  0.733912
4  0.063964  0.960993
5  0.188373  0.840029
6  0.737655  0.570952
7  0.944626  0.673035
8  0.240635  0.945015
9  0.071472  0.455147

In [6]:
df.fillna(0)

          0         1         2         3
0  0.502138  0.288172  0.280506  0.512792
1  0.000000  0.612598  0.920154  0.841198
2  0.125515  0.971372  0.000000  0.823286
3  0.301453  0.733912  0.363838  0.743212
4  0.063964  0.960993  0.556070  0.357374
5  0.188373  0.840029  0.876780  0.000000
6  0.737655  0.570952  0.009729  0.000000
7  0.944626  0.673035  0.703516  0.000000
8  0.240635  0.945015  0.491892  0.000000
9  0.071472  0.455147  0.542198  0.000000

In [8]:
df.fillna(method='ffill')

          0         1         2         3
0  0.502138  0.288172  0.280506  0.512792
1  0.502138  0.612598  0.920154  0.841198
2  0.125515  0.971372  0.920154  0.823286
3  0.301453  0.733912  0.363838  0.743212
4  0.063964  0.960993  0.556070  0.357374
5  0.188373  0.840029  0.876780  0.357374
6  0.737655  0.570952  0.009729  0.357374
7  0.944626  0.673035  0.703516  0.357374
8  0.240635  0.945015  0.491892  0.357374
9  0.071472  0.455147  0.542198  0.357374

In [9]:
df.mean()

0    0.352870
1    0.705122
2    0.527187
3    0.655572
dtype: float64

In [10]:
df.fillna(df.mean())

          0         1         2         3
0  0.502138  0.288172  0.280506  0.512792
1  0.352870  0.612598  0.920154  0.841198
2  0.125515  0.971372  0.527187  0.823286
3  0.301453  0.733912  0.363838  0.743212
4  0.063964  0.960993  0.556070  0.357374
5  0.188373  0.840029  0.876780  0.655572
6  0.737655  0.570952  0.009729  0.655572
7  0.944626  0.673035  0.703516  0.655572
8  0.240635  0.945015  0.491892  0.655572
9  0.071472  0.455147  0.542198  0.655572